<turbo-frame id="import_frame">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg pt-5 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-full">
        <form action="/contracts/process_csv" method="post" enctype="multipart/form-data" data-remote="true">
          <div class="pl-4 pb-4">
            <p class="text-left text-lg text-gray-600">Import Contracts</p>
          </div>
          <div class="border-t-2 border-b-2 border-gray-300">
            <div class="flex flex-col justify-center items-center text-center my-16 gap-2 mx-16">
              <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M38 8L50 20H38V8ZM35 20C35 21.6875 36.3125 23 38 23H50V51.5C50 54.0312 47.9375 56 45.5 56H18.5C15.9688 56 14 54.0312 14 51.5V12.5C14 10.0625 15.9688 8 18.5 8H35V20ZM41 40.3438C41.9375 39.5 41.9375 38.0938 41 37.1562L33.5 29.6562C32.6562 28.8125 31.25 28.8125 30.4062 29.6562L22.9062 37.1562C21.9688 38.0938 21.9688 39.5 22.9062 40.3438C23.75 41.2812 25.1562 41.2812 26 40.3438L29.75 36.6875V46.25C29.75 47.5625 30.6875 48.5 32 48.5C33.2188 48.5 34.25 47.5625 34.25 46.25V36.6875L37.9062 40.3438C38.2812 40.8125 38.8438 41 39.5 41C40.0625 41 40.625 40.8125 41 40.3438Z" fill="#6A778A"/>
              </svg>
              <p class="text-gray-900">Upload a CSV here to Import Contracts</p>
              <label for="csv" class="text-purple-500 cursor-pointer hover:text-purple-700">Click here to select a file upload</label>
              <input type="file" id="csv" name="csv" accept=".csv" class="hidden" required>
            </div>
          </div>
          <div class="bg-gray-50">
          <div class="py-4 px-6 flex flex-row justify-between">
            <%= link_to "Cancel", "#",
              class: "rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50",
              data: {
                controller: "modals",
                action: "modals#close"
              }
            %>
            <input type="submit" value="Import Contracts" class="inline-flex items-center gap-x-1.5 rounded-md bg-purple-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</turbo-frame>
